Package: kali-wallpapers-2023
Source: kali-wallpapers
Version: 2123.2.0
Architecture: all
Maintainer: Kali Developers <devel@kali.org>
Installed-Size: 10025
Breaks: kali-themes-common (<< 2020.4.4), kali-wallpapers-2022 (<< 2023.1.0~)
Replaces: kali-themes-common (<< 2020.4.4), kali-wallpapers-2022 (<< 2023.1.0~)
Section: misc
Priority: optional
Description: Default wallpapers for Kali Linuwux 2023 and newer
 This package contains multiple wallpapers for Kali Linuwux 2023.
